{% extends 'base.html.twig' %}
{% block title %}MyShop{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/main.css') }}" rel="stylesheet" />{% endblock %}
{% block menu %}
    <div class="main-menu" style="text-align: center;">
        <a href="{{ path('tape') }}">Лента </a>
        <a href="{{ path('my_profile') }}">Мой профиль </a>
        <a href="{{ path('logout') }}">Выйти </a>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}