{% extends "base.html.twig" %}

{% block title %}Заметки{% endblock %}

{% block body %}
    <h1>Добро пожаловать на сайт "Инстаграм"</h1>
    <p>Здесь вы можете создавать различные заметки.</p>
    <p>Чтобы продолжить работу с сайтом, зарегистрируйтесь или авторизуйтесь!</p>
    <p><a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a></p>
    <p><a href="{{ path('fos_user_security_login') }}">Авторизоваться</a></p>
{% endblock %}
