.post-item{
    margin:20px;
    display: inline-block;
    border:1px solid #cccccc;
    padding: 10px;
    height: 300px;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
}

.my_posts .post-item{
    height: 220px;
}

.post-image{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

.main-menu{
    text-align: center;
    margin:30px 0;
    padding: 10px;
    background: #eeeeee;
}

.main-menu a{
    margin:0 30px;
}

.count-likers{
    float: right;
    font-weight: bold;
    font-size:14px;
}

.author{
    font-style: italic;
    text-align: left;
}

.post-item a{
    border: 1px solid #dddddd;
    line-height: 16px;
    padding: 8px;
    margin: 10px;
}

hr{
    margin: 50px 0;
}