{% extends "theme.html.twig" %}

{% block title %}Лента{% endblock %}

{% block body %}
<h1>Лента</h1>

<div class="all_posts" style="clear: both;">
    {% for post in posts %}

            <div class="post-item">
                <img src="{{ asset(post_images ~ post.image) }}" class="post-image"/><br/>
                <span class="author">{{ post.author.username }}</span>
                <span class="count-likers">{{ post.countLikers }}</span><br/><br/>
                {% if post.author.id != user.id %}
                    {% if not post.hasLiker(user) %}
                        <a href="{{ path('like_post', {'id' : post.id}) }}">Лайкнуть </a>
                    {% endif %}
                    {% if not post.author.hasFollower(user) %}
                        <a href="{{ path('follow_user', {'id' : post.author.id}) }}">Зафоловить</a>
                    {% endif %}
                {% endif %}
            </div>
    {% endfor %}
</div>

{% endblock %}