{% extends "theme.html.twig" %}

{% block title %}Мой профиль{% endblock %}

{% block body %}
    <h1>Мой профиль</h1><br/><br/>

    <div class="user_info">
        <p><b>Имя:</b> {{ user.username }}</p>
        <p><b>E-mail:</b> {{ user.email }}</p>
    </div>

    <hr/>

    <h3>Новая публикация</h3>

    <div class="new_post">
        {{ form(form) }}
    </div>

    <hr/>

    <h3>Мои публикации</h3>

    <div class="my_posts">
        {% for post in posts %}
            {% if post.author.id == user.id %}
                <div  class="post-item">
                    <img src="{{ asset(post_images ~ post.image) }}" class="post-image"/>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <hr/>

    <h3>Избранные авторы</h3>

    <div class="follower_posts">
        {% for post in posts %}
            {% if post.author.id != user.id and post.author.hasFollower(user) %}
                <div  class="post-item">
                    <img src="{{ asset(post_images ~ post.image) }}" class="post-image"/><br/>
                    <span class="author">{{ post.author.username }}</span>
                    {% if not post.hasLiker(user) %}
                    <br/><br/><a href="{{ path('like_post', {'id' : post.id}) }}">Лайкнуть</a>
                    {% endif %}
                    <span class="count-likers">{{ post.countLikers }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>



{% endblock %}
